@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* maybe slate-600/700 */
html {
  @apply bg-gradient-to-b from-slate-600 to-slate-900 min-h-screen;
}
